.assuname p{
    font-size: 30px;
    color:white;
    font-weight: bolder;
  }

  .assuname{
    clip-path: polygon(0 0, 91% 0, 100% 19%, 0 19%);
    background-image: linear-gradient(to right, #1b98a3, #2ac4d2) !important;
    width:50%;
    height:600px;
    display:flex;
    justify-content:center;
    padding-top: 2%;

  }

  .whydiv1{
    background-color: #dbe0e0;
  }

  .bordsa10
  {
    border-top: 4px solid #2ac4d2;
    border-bottom: 4px solid #2ac4d2;
    margin-top: -450PX;
  }

  .whyassu{
    display:flex;

justify-content: center;
  }

  .assumain{
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  
  .assnv1

{
  background: #FFFFFF;
  border: 0.5px solid #A8A8A8;
  border-radius: 8px;
    height: 380px !important;
}

.imgad1{
    width:100% !important;
  }

  .card10_as:hover
  {
    background-color: #00BBD2;
  }

  .card10_as
  {
    background: #FFFFFF;
    border: 0.5px solid #A8A8A8;
    border-radius: 8px;
  }
  .img12
  {
    display: flex;
    justify-content: center;
    padding: 5px !important;
  }

  .imgad12{
    width:109% !important;
  }
