.proname p{
    font-size: 30px;
    color:white;
    font-weight: bolder;
  }

  .proname{
    clip-path: polygon(0 0, 91% 0, 100% 19%, 0 19%);
    background-image: linear-gradient(to right, #1b98a3, #2ac4d2) !important;
    width:50%;
    height:600px;
    display:flex;
    justify-content:center;
    padding-top: 2%;

  }

  .whydivpro{
    background-color: #dbe0e0;
  }

  .bordsa15
  {
    border-top: 4px solid #2ac4d2;
    border-bottom: 4px solid #2ac4d2;
    margin-top: -450PX;
  }

  .whypro{
    display:flex;

justify-content: center;
  }

  .promain{
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  
  .pronv1

{
  background: #FFFFFF;
  border: 0.5px solid #A8A8A8;
  border-radius: 8px;
    height: 380px !important;
}

.imgad19{
    width: 132.97px;
    height: 132.97px;
  }

  .card16_as:hover
  {
    background-color: #00BBD2;
  }

  .card16_as
  {
    background: #FFFFFF;
    border: 0.5px solid #A8A8A8;
    border-radius: 8px;
  }
  .img13
  {
    display: flex;
    justify-content: center;
  }

  