.unv1

{
  background: #FFFFFF;
  border: 0.5px solid #A8A8A8;
  border-radius: 8px;
    height: 380px !important;
}

.unimain{
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.newsearch{
  height: 40px;
  background: #FFFFFF;
box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.08);
border-radius: 13px;
}

/* card code */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
  }

 

  .unniname p{
    font-size: 30px;
    color:white;
    font-weight: bolder;
  }

  .whypre{
    display:flex;

justify-content: center;
  }

  .whydiv{
    background-color: #dbe0e0;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 2px 0 0;
    text-align:center;
  }
  
  .container {
    padding: 2px 16px;
  }

  .img1
  {
    display: flex;
    justify-content: center;
  }

  .card_as:hover
  {
    background-color: #00BBD2;
  }

  .checked {
    color: orange;
  }

  .imgad1{
    width: 132.97px;
    height: 132.97px;
  }

  .img32
  {
    width: 150px;
    height: 132.97px;
  }


  .card_as
  {
    background: #FFFFFF;
    border: 0.5px solid #A8A8A8;
    border-radius: 8px;
  }


  .bordsa1
  {
    border-top: 4px solid #2ac4d2;
    border-bottom: 4px solid #2ac4d2;
    margin-top: -450PX;
  }
  .unniname{
    clip-path: polygon(0 0, 91% 0, 100% 19%, 0 19%);
    background-image: linear-gradient(to right, #1b98a3, #2ac4d2) !important;
    width:50%;
    height:600px;
    display:flex;
    justify-content:center;
    padding-top: 2%;

  }