.backa12
{
  
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 5px !important;
}
.bgco12{
    background: #F0F5FF !important;
 
}

.mainAdiv12{
    width: 100% !important;
}

.mainheadinfo12{
    font-family: 'Mulish' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 36px !important;
line-height: 45px !important;

color: #1C3348 !important;
}

.img12m
{
    background-color: white !important;
    border-radius: 20px !important;
    width: 311.41px !important;
height: 395px !important;


  
}


.cityn12{
    font-family: 'Mulish' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    color:#4B4B4B !important;
    line-height: 30px !important;
    text-align: left !important;
    
    
}

.cityn12{
    
font-family: 'Mulish' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 21.2747px !important;
line-height: 27px !important;

color: #939393 !important;
}

.learnm12{
    font-family: 'Mulish' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 18.8245px !important;
line-height: 24px !important;
/* identical to box height */


color: rgba(238, 39, 56, 0.8) !important;
}

.img_imM12
{filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
  
//    width: 311.14px !important;
//    position: relative !important;
//    bottom: 50px !important;
   border-radius: 20px !important;
height: 141px;
}

.citym12{
    padding-left: 20px !important;
}
.cardaw12
{
   background-color: white !important;

   /* border: 1px solid black; */
   box-shadow: 1px 1px 1px 1px #888888 !important;
}

.cardaws12
{
    height: 200px !important;
   
}


.postz12
{
    position: relative !important;
   top:-90px !important;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.16) !important;
    border-radius: 19px !important; 
}

.matd12
{
    margin-left: 8% !important;
}

.bords12
{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
 
}

.gapflex{
    gap:10px !important ;
}

.borda12
{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

// **************

.cardtext{
//     width: 307px !important;
// height: 60px !important;
// left: 130px;
// top: 1365px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
}

.ourhead{
    margin-bottom: 30px;
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;

color: #1C3348;
}


.progimg{
    justify-content: center;
    align-items: center;
    display: flex;
}

.progtext{
    margin-left: 10px;
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text color Primary */

color: #4B4B4B;
}

.ourbutt{
    justify-content:space-around;
    align-items: center;
    display: flex;
}

.ourhead1{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;

/* White Background */

color: #FFFFFF;
}

.ourtext{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}


.ourbutton{
    background: rgba(238, 39, 56, 0.8) !important;
    // border-radius: 78px;
    padding:0.6em 2em !important;
    border:0 !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    text-decoration: none !important;
}
