 .footerad1{
    position: absolute;
width: 100%;

left: 0px;
top: 2300px !important;
}



 .site-footer1
{
    
    background: #137398;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
 .site-footer1 hr
{
  border-top-color:#bbb;
  opacity:0.5
}
 .site-footer1 hr.small
{
  margin:20px 0
}
 .site-footer1 h6
{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top:5px;
  letter-spacing:2px;
  color: #FFFFFF;

}
 .site-footer1 a
{
    color:white;
    text-decoration: none;
}

 .footer-links1
{
  padding-left:0;
  list-style:none

}
 .footer-links1 li
{
  display:block
}
 .footer-links1 a
{
   
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
text-transform: capitalize;

color: #FFFFFF;
}

 .footer-links1.inline li
{
  display:inline-block
}
 .site-footer1 .social-icons1
{
  text-align:right
}
 .site-footer1 .social-icons1 a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-color: white;
  color: white;
  border-radius:100%;
  background-color:#137398;
}
 .copyright-text
{
  margin:0
}
@media (max-width:991px)
{
   .site-footer1 [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
   .site-footer1
  {
    padding-bottom:0
  }
   .site-footer1 .copyright-text,.site-footer1 .social-icons1
  {
    text-align:center
  }
}
 .social-icons1
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
 .social-icons1 li
{
  display:inline-block;
  margin-bottom:4px;

}
 .social-icons1 li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

 .text-justify1{

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  
  color: #E5E5E5;

}

 i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px rgb(255,255,255);
  padding: 0.5em 0.6em;

}
 .social-icons1 a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
 .social-icons1 a:active,.social-icons1 a:focus,.social-icons1 a:hover
{
  color:#fff;
  background-color:#29aafe
}
 .social-icons1.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
 .social-icons1 a.facebook:hover
{
  background-color:#3b5998
}
 .social-icons1 a.twitter:hover
{
  background-color:#00aced
}
 .social-icons1 a.linkedin:hover
{
  background-color:#007bb6
}
 .social-icons1 a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
   .social-icons1 li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

 .flast11{
  background: #137398;
mix-blend-mode: multiply;
opacity: 0.90;
height: 50px;
width: 100%;
align-items: center;
}

 .flast{
  
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

color: #E5E5E5;
}


.footer-links1 a
{
  color:white !important;
}
