.underd
{
    font-family: 'Arimo';
    font-weight: normal;
    font-size: 20px !important;
}

.intera
{
    font-family: 'Arimo';
    font-weight: bold;
    font-size: 25px !important;
}

.oursa
{
    font-family: "Raleway" !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 45px !important;
    color: #4B4B4B !important;
}

.backa1
{
  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}
.bgco{
    background:linear-gradient(79.71deg, #2B3141 -15.2%, rgba(43, 49, 65, 0) 124.74%), url(../asset/college.png);
    background-size: cover;
}


.img1m
{
    background-color: white;
    border-radius: 20px;
    width: 196.27px;
    height: 240.14px;


  
}


.cityn{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 'semi-bold';
    font-size: 24px;
    color:#4B4B4B;
    line-height: 30px;
    text-align: center;
    padding: 3%;
}

.img_imM
{filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   margin-top: 50px;
   height: 100.78px;
   width: 139.57px;
}

// .cardaws1{
//     background-color: rgb(85, 143, 177) !important;
//     color: white !important; 
// }

.cardaw1
{
   background-color: white;
   box-shadow: 1px 1px 1px 1px #888888;
}

.cardaw1:hover
{
    background-color: rgb(85, 143, 177);
    color: white;
    transform: scale(1.1);
}
.cardaw1:hover img{
    content: url(../asset/Icon-01.png);
}
.cardaw2
{
    background-color: white;
   box-shadow: 1px 1px 1px 1px #888888;
}
.cardaw2:hover
{
    background-color: rgb(85, 143, 177);
    color: white;
    transform: scale(1.1);
}
.cardaw2:hover img{
    content: url(../asset/WHITE-2.png);
}
.cardaw3
{
    background-color: white;
    box-shadow: 1px 1px 1px 1px #888888;
}
.cardaw3:hover
{
    background-color: rgb(85, 143, 177);
    color: white;
    transform: scale(1.1);
}
.cardaw3:hover img{
    content: url(../asset/WHITE-3.png);
}

// .active cardaw1:hover{
//     background-color: #2B3141;
// }
// .cardaw1:active{
//     background-color: #2B3141;
// }
.cap{
    font-size: 35px;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: rgba(35, 93, 147, 1) !important;
}

.arricon{
    color: rgb(30, 216, 223) !important;
    font-size: 25px !important;
    margin-top: 4px !important;
}

.postz1
{
    position: relative;
    top: 40px;
}

.matd1
{
    margin-left: 8%;
    font-family: 'Raleway';
    font-weight: bold;

}

.bords1
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.borda1
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width:768px)
{
    .gapflex
    {
        flex-direction: column;
      
    }
}





// ******************


.backlogo{
    display: flex !important;
   justify-content: center !important;
   font-family: 'Raleway';
   font-weight: bold;
   align-items: center !important;
}

.wid
{
    width: 60px !important;
}

// image code css

.flip-card {

    width: 200px;
    height: 240px;
    
  
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
    border-radius: 20px;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
  }