.section-heading {
  font-family: Railway extra board;
  font-weight: 800;
  font-size: 40px;
  line-height: 45.18px;
  color: #4b4b4b;
}

.divide-line {
  margin-top: 40px;
  margin-bottom: 40px;
}

.group1391 .section-heading,
.mainfile .section-heading {
  margin: 40px 0px;
}

.heading-gap {
  margin: 40px 0px;
}

.heading-text {
  text-align: center;
  font-family: Railway extra board;
  font-weight: 800;
  font-size: 40px;
  color: #4b4b4b;
}

.scroll-up-btn {
  position: fixed;
  right: 30px;
  bottom: 100px;
  height: 50px;
  border-radius: 50px;
  width: 50px;
  background-color: #00bbd2;
  border: none;
  cursor: pointer;
}
.search{
  position: absolute;
  width: 309px;
  right: 135px;
  top: 10px;
}
.search input{
  border-radius: 0.375rem;
  width: 309px;
  border-width: 1px;
  border-color: #a8a8a8;
  padding-inline: 20px;
  font-family: Arimo;
  color: #a8a8a8;
}
.search .search-btn{
  position: absolute;
  right: 0px;
  height: 33px;
  border-radius: 0px 0.375rem 0.375rem 0px;
  background-color: #00bbd2;
  border-color: #00bbd2;
}
.search .search-btn:active{
  background:#dc3846;
}
.search .search-btn svg{
  vertical-align: initial;
}
.navbar-collapse{
  margin-top: 42px;
}