.section-heading {
  font-family: Railway extra board;
  font-weight: 800;
  font-size: 40px;
  line-height: 45.18px;
  color: #4b4b4b;
}

.divide-line {
  margin-top: 40px;
  margin-bottom: 40px;
}

.group1391 .section-heading,
.mainfile .section-heading {
  margin: 40px 0px;
}

.heading-gap {
  margin: 40px 0px;
}

.heading-text {
  text-align: center;
  font-family: Railway extra board;
  font-weight: 800;
  font-size: 40px;
  color: #4b4b4b;
}

.scroll-up-btn {
  position: fixed;
  right: 30px;
  bottom: 100px;
  height: 50px;
  border-radius: 50px;
  width: 50px;
  background-color: #00bbd2;
  border: none;
  cursor: pointer;
}