
.footera:hover
{
  color: white;
  text-decoration: none;
}


.hodse:hover
{
  color: white;
  text-decoration: none;
}


.footerad{
    position: absolute;
width: 100%;


}

// .foothead
// {
//   // font-family: 'Raleway' !important;
//   font-weight: bold !important;




.img1f{
  position: absolute;
  bottom:40px !important
}
.site-footer
{
    background: #137398;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top:5px;
  letter-spacing:2px;
  color: #FFFFFF;

}
.site-footer a
{
    color:white;
    text-decoration: none;
}

.footer-links
{
  padding-left:0;
  list-style:none;
  font-family: 'Arimo';

}
.footer-links li
{
  display:block
}
.footer-links a
{
   
font-family: 'Arimo';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
text-transform: capitalize;

color: #E5E5E5;
}

.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-color: white;
  color: white;
  border-radius:100%;
  background-color:#137398;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;

}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.text-justify{

  font-family: 'Arimo';
  font-style: normal;
  
  font-size: 18px;
  line-height: 25px;
  
  color: #E5E5E5;

}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px rgb(255,255,255);
  padding: 0.5em 0.6em;

}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.flast1{
  background: #137398;
mix-blend-mode: multiply;
opacity: 0.90;
height: 50px;
width: 100%;
align-items: center;
}

.flast{
  
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

color: #E5E5E5;
}

// .footer-links a
// {
//   color:white !important;
// }




.social-icons a.dribbble1:hover
{
  background-color:#8b0539
}