@media (min-width: 1400px)
{
  .container{
    max-width: 88%  !important;
  }
}
.buttonBg{
    background-color: #00BBD2 !important;
    padding:0.3em 1em !important;
    border:0 !important;
    font-size: 17px !important;
    font-family: "Arimo";
    border-radius: 20px !important;
    text-decoration: none !important;
}

.buttonBg a{
    text-decoration: none !important;

}

.menusize{
    width: 100% !important;
}

.navsec a {
    text-decoration: none !important;
 
}

.main-style1{
    background:none !important;
    border: none !important;
}

.newdrop{
    margin-left: 3px !important;
}
.arrtext{
    margin-top: -5px !important;
}

.dropclass{
    background: none !important;
    border: none !important;
}



@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: end !important;
}
}

.btnapply:hover{
    background:#04AA6D !important;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav{
display: flex;
gap:60px !important;
}
}


.navbar>.container{
    height: 80px !important;
    font-size: 20px;
}

.navsec{
    background-color: #00BBD2;
    height: 57px !important;
   
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Arimo' !important;
    font-size: 20px;
  font-weight: normal;
    padding: 10px;
    align-items: center !important;
    
}

.hovred :hover
{
    font-weight: bold;
  
}

.sudes
{
    text-decoration: none;
    color: black;

}
.suces
{
    font-family: 'Arimo';
    font-weight: normal;
}

.suces:hover
{
    font-weight: bold !important; 
}
// ***********************

.submenu{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    gap:2px !important;
    
    
}

.maindrop{
    color: rgba(255, 255, 255, 1) !important;
    font-family: 'Arimo' !important;
    font-size: 20px !important; 
}


.rs-dropdown-toggle,
.rs-dropdown-toggle.rs-btn{
    background: none;
    color: var(--rs-text-link);
    color: white;
    font-weight: bold;
    font-family: "Arimo" !important;
    font-size: 20px;
    font-weight: normal;
 
}

.rs-dropdown-toggle,
.rs-dropdown-toggle.rs-btn:hover
{
    background: none;
    color: white;
 
}

.rs-dropdown-menu {
    font-size: 18px !important;
}
.rs-btn:focus, .rs-btn:hover {
    background-color: #00bbd2 !important;
}