

.partns
{
  color: white;
  text-decoration: none;
}

.partns:hover{
  color:white;
}


.row {
  --bs-gutter-x: 0rem !important;
}

.bacds
{
  width: 100%;
  padding-left: 50px !important;
  padding-right: 50px !important;
  background: #F0F5FF !important;
}


  .text103 {

    color: rgba(32, 65, 96, 1);
  
    font-size: 56px;
    font-family: 'Raleway';
    font-weight: bold;
    line-height: normal;
   
  }

.asgsimg1{
  height: 100% !important;
  width: 100% !important;
}
  .text110 {
    color: black;
    
    // width: 602px;
 
    font-size: 24px;
  
    font-family: 'Arimo';
    font-weight: normal;
    line-height: normal;
   
  }

  .text111
  {
   
  
    font-size: 25px;
  
    font-family: 'Raleway';
    font-weight: normal;
    line-height: 1.5rem;
  }
  .group1365 {
   color:#235D93;
 font-size: 20px;
  }
  
  



  .text123 {
    color: rgba(34, 158, 173, 1);

    font-size: 24px;
   
    font-family: 'Raleway';
    font-weight: 700;
 

  }

  .bords
  {
    width: 100%;
   border: 2px solid rgba(34, 158, 173, 1);;
  }
  .bordsa
  {    background: #00BBD2 !important;
    border-radius: 10px !important;
    border: none !important;
    // padding: 10px !important;
    font-family: 'Arimo' !important;
    font-weight: bold !important;
    font-size: 22px !important;
    line-height: 30px !important;
    font-style: normal;
    // height: 50px;
   

    /* White Background */
    
    color: #FFFFFF;
  }
  .bordsa:hover{
    background:#04AA6D !important;
}

