.group1020 {
  align-items: center !important;
}

.slick-slider{
 width: 100% !important;
}

.mainfile{
  padding-top: 40px !important;
  padding-bottom: 40px !important;
 padding-left: 90px !important;
 padding-right: 90px !important;
}

.imgreq{
 
 width: 130px !important;
height: 60px !important;
}

.sdiv1{
 justify-content: center !important;
 align-items: center !important; 
}
.dcsd
{
 font-weight: bold;
 font-family: 'Raleway';
 font-size: 36px;
 
 color: #1C3348;
}


.oure
{
  font-weight: bold;
    font-size: 36px;
    font-family: "Raleway";
    color: #1C3348;
}