
.teamHeading1{
    padding-left: 30px;
    font-family: 'Mulish';
font-style: normal;
font-weight: 800 !important;
font-size: 36px !important;
color: #4B4B4B;
}

.infop1{
    text-align: center;
    

}

.imgSlider1{
   position: relative;
}


.mainname1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 20px;
/* White Background */
// color: black;
color: black;
}

.submainname1{
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: black;
/* White Background */
// color: black;
}

.testinfo1{
    width: 316px !important;
    height: 100px !important;
}


// .image-item1
// {filter:  linear-gradient(3.11deg, #000000 -5.1%, rgba(62, 62, 62, 0) 105.3%);
    
// }

.sbf {
font-family: "Raleway" !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 36px !important;
line-height: 45px !important;
color: #4B4B4B !important;
}

.bordss
{
    padding-left: 90px !important;
    padding-right: 90px !important;
}

.abtteam{
    display: flex !important;
    justify-content:space-around!important;
    gap:10px !important;
    margin-top: 40px;
}


.img_shad
{
    box-shadow: 0px 0px 10px 0px #6f6161;
    border-radius: 10px;
}

.mdas
{
    padding-bottom: 30px;
    padding-left: 17%;
    padding-right: 17%;
}
.imgd
{
    margin-right: 25px;
}

.img_shad
{
    // background-color: #86cdcd;
    // background-image: linear-gradient(to bottom right, rgb(55, 121, 117), rgb(0, 213, 255));
    background-image: linear-gradient(to bottom right, rgb(239, 246, 250), rgb(191, 219, 223));
   
   
}