.group1391 {
  padding-left: 90px !important;
  padding-right: 90px !important;
 background-image: linear-gradient(69deg, rgba(215, 241, 246, 1) 0%, rgba(240, 245, 255, 0) 100%);
  }


  .text036 {
 
    font-size: 36px;
  
    font-family: 'Raleway';
    font-weight: bold;
  
  }
.arieo
{
  font-family : 'Arimo' !important;
  font-weight: bold;
  font-size: 40px;
  line-height: 50.2px;
}

.aeieod
{
  font-family : 'Arimo' !important;
  font-weight: 400;
  font-size: 24px;
  line-height:   30.12px;
}








